.wrapper {
    // display: flex;
    // text-align: center;
    // justify-content: space-between;
    // width: auto;
    // margin-bottom: 12px;
    // flex-direction: row;
    padding-top: 6px;
    width: 100%;
    display: flex;
    justify-content:center;
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e3df;
}
.container{
    width: 1400px;
}