.wrapper{

}
.checkout{
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 24px;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}
.checkout-header{
    padding-bottom: 6px;
    margin-top: 12px;
    align-items:center;
    justify-content: space-between;
    display: flex;
}
.checkout-header-sumItem{
}
.checkout-header-sumItem-text{
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.5px;

}
.checkout-header-gohome{

}
.checkout-header-gohome-link{
    margin-left: -18px;
    margin-right: -18px;
    color: #222222;
    border-radius: 24px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    min-height: 48px;
    min-width: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    text-align: center;
    vertical-align: middle;

}
.checkout-body{
    position: relative;
}
.checkout-body-box{
    display: flex;
    flex-wrap: wrap;
//  align-items: center;
 margin-bottom: 30px;
}
.checkout-body-emtyCart{
    margin-bottom: 36px;
    margin-top: 24px ; 
    text-align: center;
}
.checkout-body-emtyCart-text{
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.checkout-body-cartListitem{
    max-width: 66.66667%;
    padding-right: 18px;
    height:100%;
    flex-grow: 1;
    flex-basis: 66.66667%;
}


.checkout-body-cartPayment{
    flex-grow: 1;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding-left: 18px;
    margin-top: 20px;
}
.checkout-body-cartPayment-box{
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
    border-radius: 18px ;
    padding: 18px;
}
.checkout-form{

}
.checkout-cardPayment-section{

}
.checkout-cardPayment-section-field{
    margin-top: 6px;    border: 0;
    padding: 0;

}
.checkout-cardPayment-section-tittle{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.checkout-cardPayment-section-chanelList{
    list-style: none;
    padding-left: 0;
    margin-top: 12px;
}
.checkout-cardPayment-section-channelItem{
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 36px;
    min-height: 30px;
}
.checkout-cardPayment-section-channelItem-radio{
    // opacity: 0;
    position: absolute;
    height: 30px;
    width: 30px;
    min-width: 30px;
    left: 0;
    top: 0;
}
.checkout-cardPayment-section-channelItem-iconList{
    font-size: 16px;
    cursor: pointer;
    line-height: 22.4px;
    display: inline-block;
}
.checkout-cardPayment-section-channelItem-iconList::before{
    background: #222222;    
    transition: all 200ms ease-out;
    margin-right: 6px;content: "";
    position: absolute;
    border-radius: 100px;height: 30px;
    width: 30px;
    min-width: 30px;
    left: 0;
    top: 0;
}
.checkout-cardPayment-section-channelItem-iconList::after{
    opacity: 1;
    transform: scale(1);background: #FFFFFF;
    left: 9px;
    top: 9px;
    width: 12px;
    height: 12px;
    content: "";
    position: absolute;
    border-radius: 100px;
    transition: all 200ms ease-out;
}
.checkout-cardPayment-section-channelItem-icon{
    display: inline-block;
    width: 48px;
    height: 32px;
    border: 1px solid #e2e2e2;
    background: #FDFDFC;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1px 0rgba(226, 226, 226, 0.2);
    vertical-align: middle;
    // padding: 6px;
    margin-right: 4px;
}
.checkout-cardPayment-section-channelItem-icon-data{
    height: 30px;
    // width: 34px;

}
.checkout-cardPayment-section-channelItem-icon{

}

.checkout-cardPayment-section-priceSummary{
margin-top: 6px;
}
.checkout-cardPayment-section-priceSummary-table{
    width: 100% ;
}
.checkout-cardPayment-section-priceSumary-tbody{
    text-align:left;
}
.checkout-cardPayment-section-priceSummary-rowName{
    font-weight: normal;
    color: #222222;
    font-size: 16px;
    line-height: 28px;padding: 0px ;
}
.checkout-cardPayment-section-priceSummary-rowcontent{
    font-weight: 400;
    font-size: 16px;
    color: #222222;
    line-height: 28px;
    text-align: right;
}


.checkout-cardPayment-section-priceSummary-linebreak{
    border-top: 1px solid rgba(34, 34, 34, 0.15);
    margin-bottom: 12px;
    margin-top: 6px ;
}
.checkout-cardPayment-section-priceSummary-sumTittle{

}
.checkout-cardPayment-section-priceSummary-sumTittle-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.checkout-cardPayment-section-priceSummary-sumContent{
    white-space: nowrap;
    text-align: right
}
.checkout-cardPayment-section-priceSummary-sumContent-text{

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.checkout-cardPayment-section-priceSummary-submit{
    padding-bottom: 12px;
    margin-top: 12px;
    display:flex;
    justify-content:center;
    width: 100%;
}
.checkout-body-favourite{
padding-bottom: 12px;
display:flex;
flex-direction: column;
align-items: center;
width: 100%;
margin-top: 50px;
}
.checkout-body-favourite-tittle{

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 12px;    display: block ;
    margin-left: auto ;
    margin-right: auto ;
}
.checkout-body-favourite-link{
    text-decoration: none;
}
