.wrapper{
    padding: 30px 36px 12px 36px;
    width: 100%;
    float: left;
    position: relative;
}
.billing{

}
.billing-title{
}
.billing-title-text{
    margin-bottom: 6px;    text-align: center;font-size: 32px;
    line-height: 36px;font-weight: 300;
    letter-spacing: 0.5px;

}
.billing-help{
    margin-bottom: 12px;    font-weight: 400;
    font-size: 16px;
    line-height: 28px; text-align: center;
}
.billing-container{

    margin-left: -36px;
    margin-right: -36px;padding-left: 18px;
    padding-right: 18px;float: none;
    position: relative;
    margin-top: 35px;
}
.billing-container-box{
    min-height: 292px;
}
.billing-form{
    position: relative;
    width: 66.66667%;
    padding-left: 18px;
    padding-right: 18px;float: left;
}
.billing-form-body{
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    padding: 36px;
}
.billing-form-creditcard{

}
.billing-form-creditcard-title{
    margin-bottom: 18px;font-weight: 500;    font-size: 20px;
    line-height: 24px;    
}
.billing-form-creditcard-item{
margin-bottom: 18px;
display: flex;
}
.billing-form-creditcard-item-porperties{
    display: flex;
    align-items: center;
    width: 33.33333%;
    height: 38px;font-weight: 500;
}
.billing-form-creditcard-item-input{
    width: 66.66667%;
    align-items: flex-start;    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    color: #222;
    display: block;
    font-size: 14px;
    height: 38px;

    padding:9px 12px;
    width: 100%;
}
.billing-form-address{

}
.billing-form-address-title{
    margin-bottom: 18px;font-weight: 500;    font-size: 20px;
    line-height: 24px;    
}
.billing-form-address-item{
    margin-bottom: 12px;    
    width: 100%;
}
.billing-form-address-item-porperties{
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
}
.billing-form-address-item-input{
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) 0 inset;

    appearance: none;
    border-color: rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    color: #222;
    display: block;
    font-size: 14px;
    height: 38px;
    padding:9px 12px;
    width: 100%;
}
.billing-notice{
    top :0;
        margin-left: 68%;
        margin-bottom: 18px;border-radius: 3px;
        background-color: #FFF;
        border: 1px solid #E1E3DF;
        border-bottom-color: #CBCCC9;width: 30%;
}
.billing-notice-header{
    background-color: #E4F3D9;
    border-color: rgba(0, 0, 0, 0.05);border-top-right-radius: 2px;
    border-top-left-radius: 2px;

    border-bottom: 1px solid #E1E3DF;
    font-weight: bold;
    padding: 12px 18px;
    font-size: inherit;
    line-height: inherit;
}
.billing-notice-header-text{
 font-style: 14px;
 font-weight: 500;
 line-height: 19.6px;
}
.billing-notice-body{

    padding: 18px;
}
.billing-notice-body-content{
    margin: 0 0 12px;
    font-style: 14px;
    line-height: 24px;
}

.billing-action{
    margin-bottom: -90px;
    right: 10%;
    position: absolute;

    bottom:0;
}