.wrapper{
    padding: 30px 36px 12px 36px;
    width: 100%;
    float: left;
    position: relative;
}
.billing{

}
.billing-title{
}
.billing-title-text{
    margin-bottom: 6px;    text-align: center;font-size: 32px;
    line-height: 36px;font-weight: 300;
    letter-spacing: 0.5px;

}
.billing-help{
    margin-bottom: 12px;    font-weight: 400;
    font-size: 16px;
    line-height: 28px; text-align: center;
}
.billing-container{

    margin-left: -36px;
    margin-right: -36px;padding-left: 18px;
    padding-right: 18px;float: none;
    position: relative;
    margin-top: 35px;
}
.billing-container-box{
    min-height: 292px;
}
.billing-form{
    position: relative;
    width: 66.66667%;
    padding-left: 18px;
    padding-right: 18px;float: left;
}
.billing-form-body{
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    padding: 36px;
}
// .billing-form-creditcard{

// }
// .billing-form-creditcard-title{
//     margin-bottom: 18px;font-weight: 500;    font-size: 20px;
//     line-height: 24px;    
// }
// .billing-form-creditcard-item{
// margin-bottom: 18px;
// display: flex;
// }
// .billing-form-creditcard-item-porperties{
//     display: flex;
//     align-items: center;
//     width: 33.33333%;
//     height: 38px;font-weight: 500;
// }
// .billing-form-creditcard-item-input{
//     width: 66.66667%;
//     align-items: flex-start;    border-radius: 3px;
//     border-color: rgba(0, 0, 0, 0.15);
//     border-top-color: rgba(0, 0, 0, 0.2);
//     border-style: solid;
//     border-width: 1px;
//     color: #222;
//     display: block;
//     font-size: 14px;
//     height: 38px;

//     padding:9px 12px;
//     width: 100%;
// }
// .billing-form-address{

// }
// .billing-form-address-title{
//     margin-bottom: 18px;font-weight: 500;    font-size: 20px;
//     line-height: 24px;    
// }
// .billing-form-address-item{
//     margin-bottom: 12px;    
//     width: 100%;
// }
// .billing-form-address-item-porperties{
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 19.6px;
// }
// .billing-form-address-item-input{
//     border-radius: 3px;
//     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) 0 inset;

//     appearance: none;
//     border-color: rgba(0, 0, 0, 0.15);
//     border-top-color: rgba(0, 0, 0, 0.2);
//     border-style: solid;
//     border-width: 1px;
//     color: #222;
//     display: block;
//     font-size: 14px;
//     height: 38px;
//     padding:9px 12px;
//     width: 100%;
// }
.billing-notice{
    top :0;
        margin-left: 68%;
        margin-bottom: 18px;border-radius: 3px;
        background-color: #FFF;
        border: 1px solid #E1E3DF;
        border-bottom-color: #CBCCC9;width: 30%;
}
.billing-notice-header{
    background-color: #E4F3D9;
    border-color: rgba(0, 0, 0, 0.05);border-top-right-radius: 2px;
    border-top-left-radius: 2px;

    border-bottom: 1px solid #E1E3DF;
    font-weight: bold;
    padding: 12px 18px;
    font-size: inherit;
    line-height: inherit;
}
.billing-notice-header-text{
 font-style: 14px;
 font-weight: 500;
 line-height: 19.6px;
}
.billing-notice-body{

    padding: 18px;
}
.billing-notice-body-content{
    margin: 0 0 12px;
    font-style: 14px;
    line-height: 24px;
}

.billing-action{
    margin-bottom: -90px;
    right: 10%;
    position: absolute;

    bottom:0;
}
.billing-box {
    // border-top: 1px solid rgba(34, 34, 34, 0.15);
    padding: 18px 0px;
}
.billing-check {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 36px;
    min-height: 30px;
}
.billing-check-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.billing-check-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.billing-check-radio {
    // opacity: 0;
    position: absolute;
    height: 30px;
    width: 30px;
    min-width: 30px;
    left: 0;
    top: 0;
}
.billing-check-iconList {
    font-size: 16px;
    cursor: pointer;
    line-height: 22.4px;
    display: inline-block;
}
.billing-check-iconList::before {
    background: #222222;
    transition: all 200ms ease-out;
    margin-right: 6px;
    content: '';
    position: absolute;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    min-width: 30px;
    left: 0;
    top: 0;
}
.billing-check-iconList::after {
    opacity: 1;
    transform: scale(1);
    background: #ffffff;
    left: 9px;
    top: 9px;
    width: 12px;
    height: 12px;
    content: '';
    position: absolute;
    border-radius: 100px;
    transition: all 200ms ease-out;
}
.billing-check-icon {
    display: inline-block;
    width: 48px;
    height: 32px;
    border: 1px solid #e2e2e2;
    background: #fdfdfc;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1px 0rgba (226, 226, 226, 0.2);
    vertical-align: middle;
    // padding: 6px;
    margin-left: 4px;
}
.billing-check-icon-data {
    height: 30px;
    // width: 34px;
}
.billing-check-icon {
}
.billing-group {
    margin-top: 18px;
}
.billing-group-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 12px;
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 100%;
    position: relative;
}
.billing-group-item-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    margin-right: 78px;
}
.billing-group-item-input {
    font-size: 18px;
    height: 48px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    color: #222222;
    border-color: #e1e3df;
    display: block;
    line-height: 28px;
    padding: 9px 12px;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
}
.billing-group-item-input.number{
    
    padding: 9px 12px 9px 50px;
    
}

.billing-group-item-input-append {
    left: 0;
    padding-left: 12px;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
}
.billing-group-item-input-append-icon {
}
.billing-group-item-datetime {
    display : flex;
    width:50%;
    flex-direction: column;
}
.billing-group-item-datetime-box{
    margin-top: 4px;
    display : flex;
}

.billing-group-item-input:focus {
    border-color: #222222;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #4d6bc6;
}
.billing-group-item-input:hover {
    border-color: #222222;
}
.billing-check-default {
    display: flex;
    align-items: center;
    padding-top: 6px;
    margin-bottom: 6px;
}
.billing-check-default-checkbox {
    left: 3px;
    top: 3px;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
    border-radius: 6px;
}

.billing-check-default-staysigned {
    line-height: 16px;
    font-size: 16px;
    text-align: center;
}