.wrapper {
display: flex;
justify-content:center
}
.body {
    width: 740px;
}
.form {
}
.form-tittle {
    font-size: 44px;
    line-height: 48px;
    // font-family: 'Guardian-EgypTT';
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 24px;
}
.form-group {

}
.form-group-item {
    padding: 12px;
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 100%;
    
}
.form-group-item-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.form-group-item-input {
    font-size: 18px;
    height: 48px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    color: #222222;
    border-color: #e1e3df;
    display: block;
    line-height: 28px;
    padding: 9px 12px;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
}
.form-group-item-input:focus {
    border-color: #222222;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #4d6bc6;
}
.form-group-item-input:hover {
    border-color: #222222;
}
.form-group-submit{
    margin-top: 12px;
}